.gallery-section {
    padding-top: 5%;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    img {
        max-width: 80%;
    }

    .next, .prev {
        cursor: pointer;
        position: relative;
        width: auto;
        color: white;
        font-weight: bold;
        font-size: 20px;
        user-select: none;
        -webkit-user-select: none;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .next {
        bottom: 100px;
        left: 10px;
    }

    .prev {
        bottom: 100px;
        right: 10px;
    }
}

@media only screen and (min-width: 1000px) {
    .next, .prev {
        cursor: pointer;
        position: relative;
        width: auto;
        color: white;
        font-weight: bold;
        font-size: 30px;
        user-select: none;
        -webkit-user-select: none;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .next {
        left: 16px;
        bottom: 200px;
    }

    .prev {
        right: 16px;
        bottom: 200px;
    }
}