.section {
  color: rgba(0, 0, 0, 1);
  width: 100%;
}

.section h2 {
  text-align: center;
}

.section p {
  font-family: 'Roboto';
  font-size: 1rem;
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
}
